@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem 2.4rem;
  background-color: rgb(240, 240, 240);
}

.header {
  display: flex;
  justify-content: space-between;
}
.header button {
  border: none;
  background-color: transparent;
}
.header button img {
  height: 2.4rem;
  width: 77.1428604126px;
}
.header div {
  display: flex;
  column-gap: 3.6rem;
}
.header label input {
  display: none;
}
.header label img {
  height: 2.4rem;
  width: 2.4rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section-text-cont {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 27.2rem;
  row-gap: 1.4rem;
  font-family: "Poppins", sans-serif;
}
.hero-section-text-cont h1 {
  font-size: 3.2rem;
  word-spacing: -0.7rem;
  font-weight: 400;
  color: #183B56;
}
.hero-section-text-cont p {
  font-size: 16px;
}
.hero-section-text-cont div {
  display: flex;
  column-gap: 0.8rem;
}
.hero-section-text-cont div button:nth-child(1) {
  font-size: 1.4rem;
  width: 10.5rem;
  height: 3.7rem;
  background-color: #052A44;
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
}
.hero-section-text-cont div button:nth-child(2) {
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  width: 14.2rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.hero-section-text-cont div button:nth-child(2) div {
  background-color: white;
  padding: 1rem 0.9rem 0.9rem 1rem;
  border-radius: 50%;
}
.hero-section-text-cont div button:nth-child(2) div img {
  height: 1.7rem;
  align-self: center;
}

.hero-section-picture-section {
  padding-top: 4.4rem;
}
.hero-section-picture-section .hero-pic-container {
  background-color: #E8DB84;
  height: 17.5rem;
  width: 100%;
  border-radius: 8.6px;
  position: relative;
}
.hero-section-picture-section .hero-pic-container img {
  height: 22rem;
  position: absolute;
  bottom: 0;
  left: -30%;
  object-fit: cover;
  border: 1px solid red;
}

.costumer-reviews {
  text-align: center;
  padding: 4rem 1rem;
}
.costumer-reviews h2 {
  color: #183B56;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
.costumer-reviews .reviews-subtitle {
  color: #5A7184;
  font-family: "Poppins", sans-serif;
  margin: 0 auto 40px;
  font-weight: 400;
  font-size: 1.6rem;
  max-width: 27.2rem;
  line-height: 2.8rem;
}
.costumer-reviews .review-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.costumer-reviews .review-cards .review-card {
  background: white;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0.131rem 0.262rem 1.834rem 0rem rgba(0, 0, 0, 0.0784313725);
  text-align: left;
  width: 100%;
  max-width: 32rem;
  box-sizing: border-box;
}
.costumer-reviews .review-cards .review-card .card-header {
  display: flex;
  align-items: center;
  gap: 1.572rem;
  margin-bottom: 15px;
}
.costumer-reviews .review-cards .review-card img {
  margin-left: 4.5rem;
  width: 4.585rem;
  height: 4.585rem;
  border-radius: 50%;
  object-fit: cover;
}
.costumer-reviews .review-cards .review-card h4 {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #12141D;
  line-height: 1.703rem;
}
.costumer-reviews .review-cards .review-card span {
  font-size: 0.917rem;
  color: #12141D;
  font-weight: 400;
  line-height: 1.572rem;
}
.costumer-reviews .review-cards .review-card p {
  font-weight: 400;
  color: #12141D;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}
.costumer-reviews .reviews-seemore {
  margin-top: 30px;
}
.costumer-reviews .reviews-seemore button {
  background: #052A44;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}
.costumer-reviews .review-controls {
  display: none;
}

.lets-work-together {
  padding: 2rem 1rem;
}
.lets-work-together .work-container {
  background-color: #E8DB84;
  border-radius: 1rem;
  padding: 2.4rem 1.3rem;
  text-align: center;
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.lets-work-together .work-header {
  margin-bottom: 2rem;
}
.lets-work-together .work-header h2 {
  color: #000000;
  font-size: 2.8rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 4rem;
  letter-spacing: 0.02rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.lets-work-together .work-header p {
  color: #000000;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 2.8rem;
  margin: 0;
}
.lets-work-together .work-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 32rem;
}
.lets-work-together .work-form input, .lets-work-together .work-form textarea {
  width: 100%;
  padding: 1.2rem;
  border: none;
  font-family: "Poppins", sans-serif;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  background-color: white;
  color: #1E1E1E;
  box-sizing: border-box;
  padding: 2rem 2.4rem;
}
.lets-work-together .work-form input::placeholder, .lets-work-together .work-form textarea::placeholder {
  color: #12141D;
  font-weight: 400;
}
.lets-work-together .work-form textarea {
  resize: none;
}
.lets-work-together .work-form .form-action {
  margin-top: 1rem;
}
.lets-work-together .work-form .form-action button {
  background-color: #052A44;
  color: white;
  width: 100%;
  font-family: "Poppins", sans-serif;
  max-width: 20rem;
  padding: 1rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
