@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem 2.4rem;
  background-color: rgb(240, 240, 240);
}

.header {
  display: flex;
  justify-content: space-between;
}
.header button {
  border: none;
  background-color: transparent;
}
.header button img {
  height: 2.4rem;
  width: 77.1428604126px;
}
.header div {
  display: flex;
  column-gap: 3.6rem;
}
.header label input {
  display: none;
}
.header label img {
  height: 2.4rem;
  width: 2.4rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section-text-cont {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 27.2rem;
  row-gap: 1.4rem;
  font-family: "Poppins", sans-serif;
}
.hero-section-text-cont h1 {
  font-size: 3.2rem;
  word-spacing: -0.7rem;
  font-weight: 400;
  color: #183B56;
}
.hero-section-text-cont p {
  font-size: 16px;
}
.hero-section-text-cont div {
  display: flex;
  column-gap: 0.8rem;
}
.hero-section-text-cont div button:nth-child(1) {
  font-size: 1.4rem;
  width: 10.5rem;
  height: 3.7rem;
  background-color: #052A44;
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
}
.hero-section-text-cont div button:nth-child(2) {
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  width: 14.2rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.hero-section-text-cont div button:nth-child(2) div {
  background-color: white;
  padding: 1rem 0.9rem 0.9rem 1rem;
  border-radius: 50%;
}
.hero-section-text-cont div button:nth-child(2) div img {
  height: 1.7rem;
  align-self: center;
}

.hero-section-full {
  display: flex;
  align-items: center;
}
.hero-section-full .hero-card-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  position: absolute;
  left: 0;
  z-index: 20;
}
.hero-section-full .hero-card-column article:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  background-color: white;
}
.hero-section-full .hero-card-column article:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  background-color: white;
}
.hero-section-full .hero-card-column article:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
  background-color: white;
}

.hero-section-picture-section {
  padding-top: 4.4rem;
  overflow: hidden;
}
.hero-section-picture-section .hero-pic-container {
  background-color: #E8DB84;
  height: 17.5rem;
  width: 21.7566rem;
  border-radius: 0.86rem;
  position: relative;
}
.hero-section-picture-section .hero-pic-container img {
  height: 22rem;
  position: absolute;
  bottom: 0;
  left: -30%;
  border: 1px solid red;
}