.costumer-reviews {
    text-align: center;
    padding: 4rem 1rem;
    
    h2 {
        color: #183B56;
        font-size: 2.8rem;
        font-weight: 400;
        letter-spacing: 0.02rem;
        margin-bottom: 1rem;
        font-family: "Poppins", sans-serif;
     }


 
    .reviews-subtitle {
        color: #5A7184;
        font-family: "Poppins", sans-serif;
        margin: 0 auto 40px;
        font-weight: 400;
        font-size: 1.6rem;
        max-width: 27.2rem;
        line-height: 2.8rem;
     }
     
     
      .review-cards {
         display: flex;
         flex-direction: column;
         gap: 1.5rem;
        align-items: center;
            
        .review-card {
            background: white;
            padding: 3rem;
            border-radius: 1rem;
            box-shadow: 0.131rem 0.262rem 1.834rem 0rem #00000014;
            text-align: left;
            width: 100%;
            max-width: 32rem;      
            box-sizing: border-box;


            .card-header {
                 display: flex;
                align-items: center;
                gap: 1.572rem;
                margin-bottom: 15px;
             }                 
            img {
                margin-left: 4.5rem;
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                object-fit: cover;
             }  
            h4 {
                font-weight: bold;
                font-size: 1.1rem;
                margin: 0;
                font-family: "Poppins", sans-serif;
                color: #12141D;
                line-height: 1.703rem;

             }                        
            span {
                font-size: 0.917rem;
                color: #12141D;
                font-weight: 400;
                line-height: 1.572rem;
             }
            p {
                font-weight: 400;
                color: #12141D;
                line-height: 2rem;
                font-family: "Poppins", sans-serif;
                font-size: 1.2rem;
                margin: 0;
                text-align: center;
    
             }
        }
    }             




    .reviews-seemore {
        margin-top: 30px;
        
        button {
            background: #052A44;
            color: white;
            padding: 0.8rem 1.2rem;
            font-size: 1.4rem;
            border: none;
            border-radius: 0.8rem;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .review-controls {
        display: none; 
    }
}


.lets-work-together {
    padding: 2rem 1rem;

    .work-container {
        background-color: #E8DB84; 
        border-radius: 1rem;
        padding: 2.4rem 1.3rem;
        text-align: center;
        width:100%;
        max-width:32rem;
        margin:0 auto;
        box-sizing: border-box;
    }

    .work-header {
        margin-bottom: 2rem;

        h2 {
            color: #000000;
            font-size: 2.8rem;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            line-height: 4rem;
            letter-spacing: 0.02rem;
            margin-bottom: 1.5rem;
            text-align: center;
        }

        p {
            color: #000000;
            font-size: 1.6rem;
            font-family: "Poppins", sans-serif;
            line-height: 2.8rem;
            margin: 0;
        }
    }

    .work-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input, textarea {
            width: 100%;
            padding: 1.2rem;
            border: none;
            font-family: "Poppins", sans-serif;
            border-radius: 0.8rem;
            font-size: 1.6rem;
            background-color: white;
            color: #1E1E1E;
            box-sizing: border-box;
            padding: 2rem 2.4rem;
            &::placeholder {
                color: #12141D;
                font-weight: 400;
            }
        }

        textarea {
            resize: none;
         }

        .form-action {
            margin-top: 1rem;

            button {
                background-color: #052A44; 
                color: white;
                padding: 1.5rem 4.3rem;
                font-family: "Poppins", sans-serif;
                max-width: 20rem;
                border: none;
                border-radius: 0.6rem;
                font-size: 1.6rem;
                font-weight: 600;
                cursor: pointer;
             }
         }         

    }
}


footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 2.4rem 2.4rem;

  .footer-header {
    margin-bottom: 40px;
    gap:0.8rem;
    
    h4 {
      color: #052A44;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    
    p {
      margin: 5px 0;
      color: #071210;
      line-height: 3.6rem;
      font-size: 1.6rem;
    }
  }

  .footer-logos {
    margin-bottom: 40px;
    gap:0.9rem;

    p {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }

    .social-wrapper {
      display: flex;
      justify-content: center;
      gap: 2rem;
      
      a {
        display: flex;
        align-items: center;
        justify-content: center;   
        width: 3.3rem;
        height: 3.3rem;
        color: #071210;
        border: 1px solid #000;
        border-radius: 50%;

        color: #000;
        text-decoration: none;
        font-size: 18px;
        transition: transform 0.2s ease;
        

        &:hover {
          background-color: #000;
          color: #fff;
          transform: scale(1.1);
        }
      }
     }
  }

  .footer-last {
    p {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
    }

    .email-text {
      color: #000;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 400;
      

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


      