
@use "./reset";
@use "./fonts";
@use "./btns" as b;
@use "./variabels" as v;
@use "./mixins" as m;
@use "./layout/services";





body {
    padding: 2rem 2.4rem;
    background-color: rgb(240, 240, 240);
}


.header {
    display: flex;
    justify-content: space-between;
    
    button {
        border: none;
        background-color: transparent;

        img {
            height: 2.4rem;
            width: 77.14286041259766px;
        }
    }


    div {
        display: flex;
        column-gap: 3.6rem;
    }

    label {
        input {
            display: none;
        }
        img {
            height: 2.4rem;
            width: 2.4rem;
        }
    }

}



.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-section-text-cont {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 27.2rem;
    row-gap: 1.4rem;
    font-family: "Poppins", sans-serif;
    h1 {
        font-size: 3.2rem;
        word-spacing: -0.7rem;
        font-weight: 400;
        color: #183B56;
    }
    p {
        font-size: 16px;
        
    }

    div {
        display: flex;
        column-gap: 0.8rem;
        button:nth-child(1) {
            font-size: 1.4rem;
            width: 10.5rem;
            height: 3.7rem;
            background-color: #052A44;
            color: white;
            border: none;
            border-radius: 0.8rem;
            font-family: "Poppins", sans-serif;
        }

        button:nth-child(2) {
            font-size: 1.4rem;
            background-color: transparent;
            border: none;
            width: 14.2rem;
            display: flex;
            column-gap: 0.5rem;
            align-items: center;
            font-family: "Poppins", sans-serif;

            div {
                background-color: white;
                padding: 1rem 0.9rem 0.9rem 1rem;
                border-radius: 50%;
                img {
                    height: 1.7rem;
                    align-self: center;
                }
            }

        }

    }
}


.hero-section-picture-section {
    padding-top: 4.4rem;
    .hero-pic-container {
        background-color: #E8DB84;
        height: 17.5rem;
        width: 100%;
        border-radius: 8.6px;
        position: relative;
        
            img {
                height: 22rem;
                position: absolute;
                bottom: 0;
                left: -30%;
                object-fit: cover;
                border: 1px solid red;
            }
        
        
    }

}



