@use "./reset";
@use "./fonts";


body {
    padding: 2rem 2.4rem;
    background-color: rgb(240, 240, 240);
}


.header {
    display: flex;
    justify-content: space-between;
    

    button {
        border: none;
        background-color: transparent;

        img {
            height: 2.4rem;
            width: 77.14286041259766px;
        }
    }


    div {
        display: flex;
        column-gap: 3.6rem;
    }

    label {
        input {
            display: none;
        }
        img {
            height: 2.4rem;
            width: 2.4rem;
        }
    }

}



.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-section-text-cont {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 27.2rem;
    row-gap: 1.4rem;
    font-family: "Poppins", sans-serif;
    h1 {
        font-size: 3.2rem;
        word-spacing: -0.7rem;
        font-weight: 400;
        color: #183B56;
    }
    p {
        font-size: 16px;
        
    }

    div {
        display: flex;
        column-gap: 0.8rem;
        button:nth-child(1) {
            font-size: 1.4rem;
            width: 10.5rem;
            height: 3.7rem;
            background-color: #052A44;
            color: white;
            border: none;
            border-radius: 0.8rem;
            font-family: "Poppins", sans-serif;
        }

        button:nth-child(2) {
            font-size: 1.4rem;
            background-color: transparent;
            border: none;
            width: 14.2rem;
            display: flex;
            column-gap: 0.5rem;
            align-items: center;
            font-family: "Poppins", sans-serif;

            div {
                background-color: white;
                padding: 1rem 0.9rem 0.9rem 1rem;
                border-radius: 50%;
                img {
                    height: 1.7rem;
                    align-self: center;
                }
            }

        }

    }
}


.hero-section-picture-section {
    padding-top: 4.4rem;
    .hero-pic-container {
        background-color: #E8DB84;
        height: 17.5rem;
        width: 100%;
        border-radius: 8.6px;
        position: relative;
        
            img {
                height: 22rem;
                position: absolute;
                bottom: 0;
                left: -30%;
                object-fit: cover;
                border: 1px solid red;
            }
        
        
    }

}



// Nutsa 
.costumer-reviews {
    text-align: center;
    padding: 4rem 1rem;
    
    h2 {
        color: #183B56;
        font-size: 2.8rem;
        font-weight: 400;
        letter-spacing: 0.02rem;
        margin-bottom: 1rem;
        font-family: "Poppins", sans-serif;
    }

    .reviews-subtitle {
        color: #5A7184;
        font-family: "Poppins", sans-serif;
        margin: 0 auto 40px;
        font-weight: 400;
        font-size: 1.6rem;
        max-width: 27.2rem;
        line-height: 2.8rem;
    }

    .review-cards {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        

        .review-card {
            background: white;
            padding: 3rem;
            border-radius: 1rem;
            box-shadow: 0.131rem 0.262rem 1.834rem 0rem #00000014;
            text-align: left;
            width: 100%;          
            max-width: 32rem;      
            box-sizing: border-box;
            

            .card-header {
                display: flex;
                align-items: center;
                gap: 1.572rem;
                margin-bottom: 15px;
            }

            img {
                margin-left: 4.5rem;
                width: 4.585rem;
                height: 4.585rem;
                border-radius: 50%;
                object-fit: cover;
            }

            h4 {
                font-weight: bold;
                font-size: 1.1rem;
                margin: 0;
                font-family: "Poppins", sans-serif;
                color: #12141D;
                line-height: 1.703rem;
                
            }

            span {
                font-size: 0.917rem;
                color: #12141D;
                font-weight: 400;
                line-height: 1.572rem;
            }

            p {
                font-weight: 400;
                color: #12141D;
                line-height: 1rem;
                font-family: "Poppins", sans-serif;
                font-size: 1.2rem;
                margin: 0;
                text-align: center;
            }
        }
    }

    .reviews-seemore {
        margin-top: 30px;
        
        button {
            background: #052A44;
            color: white;
            padding: 0.8rem 1.2rem;
            border: none;
            border-radius: 0.8rem;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .review-controls {
        display: none; 
    }
}

.lets-work-together {
    padding: 2rem 1rem;

    .work-container {
        background-color: #E8DB84; 
        border-radius: 1rem;
        padding: 2.4rem 1.3rem;
        text-align: center;
        width:100%;
        max-width:32rem;
        margin:0 auto;
        box-sizing: border-box;
    }

    .work-header {
        margin-bottom: 2rem;

        h2 {
            color: #000000;
            font-size: 2.8rem;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            line-height: 4rem;
            letter-spacing: 0.02rem;
            margin-bottom: 1.5rem;
            text-align: center;
        }

        p {
            color: #000000;
            font-size: 1.6rem;
            font-family: "Poppins", sans-serif;
            line-height: 2.8rem;
            margin: 0;
        }
    }

    .work-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width:32rem;

        input, textarea {
            width: 100%;
            padding: 1.2rem;
            border: none;
            font-family: "Poppins", sans-serif;
            border-radius: 0.8rem;
            font-size: 1.6rem;
            background-color: white;
            color: #1E1E1E;
            box-sizing: border-box;
            padding: 2rem 2.4rem;
            &::placeholder {
                color: #12141D;
                font-weight: 400;
            }
        }

        textarea {
            resize: none;
        }
    

        .form-action {
            margin-top: 1rem;

            button {
                background-color: #052A44; 
                color: white;
                width: 100%; 
                font-family: "Poppins", sans-serif;
                max-width: 20rem;
                padding: 1rem;
                border: none;
                border-radius: 0.6rem;
                font-size: 1.6rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}


