@use "./reset";
@use "./fonts";



%button-color-pallete {
    background-color: #052A44;
    color: white;
}
%button-color-pallete-darkmode {
    background-color: white;
    color: #052A44;
}


%Poppins-font {
    font-family: "Poppins", sans-serif;
}

%OpenSans-font {
    font-family: "Open Sans", sans-serif;
}
    

@mixin hero-article() {
        font-family: "Nunito Sans", sans-serif;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.4rem;
        margin: auto;
        
        padding: 2.052rem 1.655rem 1.429rem 1.655rem;
        box-shadow: 0.74px 1.48px 14.03px 0px #00000014;
        h4 {
            font-size: 0.554rem;
            font-weight: 700;
            margin: 0; 
        }

        p {
            font-size: 0.443rem;
            margin: 0; 
        }
    }

@mixin important-button-template() {
     
            font-size: 1.4rem;
            width: 10.5rem;
            height: 3.7rem;
            @extend %button-color-pallete;
            border: none;
            border-radius: 0.8rem;
            @extend %Poppins-font;
            font-weight: 500;
     
}
@mixin important-button-template-darkmode() {
            font-size: 1.4rem;
            width: 10.5rem;
            height: 3.7rem;
            @extend %button-color-pallete-darkmode;
            border: none;
            border-radius: 0.8rem;
            @extend %Poppins-font;
            font-weight: 500;
}

@mixin hero-article-photo-container() {
    div {
         display: flex;
                
                img {
                height: 0.9713rem;
                border-radius: 50%;
                }

                img:nth-child(4) {
                z-index: 20;
            }
    }
               
            
}    

@mixin about-us-card() {
    article {
            display: flex;
            flex-direction: column;
            background-color: white;
            box-shadow: 0.074rem 0.148rem 1.403rem 0rem #00000014;
            width: fit-content;
            text-align: center;
            align-items: center;
            position: relative;
            row-gap: 1rem;
            padding: 4.9rem 2.2rem;
            border-radius: 1.139rem;
            div {
                border-radius: 50%;
                background-color: #052A44;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5.0523rem;
                width: 5.0523rem;
                position: absolute;
                top: -12%;
                img {
                    height: 2.3241rem;
                }
            }

            h3 {
                font-family: "Plus Jakarta Sans", sans-serif;
                font-weight: 600;
                font-size: 1.8rem;
            }

            p {
                @extend %Poppins-font;
                font-size: 1.6rem;
                max-width: 218.45822143554688px;
                line-height: 180%;
            }
        }
}

@mixin nav-menu-mobile() {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 100;
    row-gap: 2.8rem;
    position: absolute;
    background-color: white;
    width: 100%;
    padding-bottom: 6.6rem;
    top: 120%;
    left: 0;

   


    

   ul {
        display: flex;
        flex-direction: column;
        row-gap: 3.5rem;
        a {
            font-size: 1.6rem;
            font-weight: 400;
            text-decoration: none;
            color: black;
            @extend %Poppins-font;
        }
   } 
    
   
   
    button {
            background-color: black;
            width: fit-content;
            color: white;
            @extend %Poppins-font;
            border-radius: 0.8rem;
            padding: 1.5rem 3.6rem;
            font-size: 1.6rem;
            font-weight: 600;
     }
            

       
}

body {
    padding: 2rem 2.4rem;
    background-color: rgb(255, 255, 255);
}


.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    button:nth-child(1) {
        img:nth-child(2) {
            display: none;
        }
    }
    .lightmode-icon {
        display: none;
    }

    .burger-menu-dark-mode-icon {
        display: none;
    }
    input {
        display: none;
    }

    button:nth-child(1) {
        background-color: transparent;
        border: none;
        img {
            height: 2.4rem;
            width: 7.7143rem;
        }
    }

    


    div {
        display: flex;
        column-gap: 3.6rem;
    }
    
        .header-buttons {
            label:nth-child(2) {
                img {
                    height: 2.4rem;
                }
                div {
                    display: none;
                }   
            }
        }
        
         
    
    
    
   
    
    
}

.header:has(#burger-menu:checked) .nav-pop-up {
    display: flex;
}


.header:has(#burger-menu:checked) {

    .burger-menu-icon,
    .burger-menu-dark-mode-icon,
    .light-dark-modes-switcher {
        display: none;
    }

    .header-buttons {
        label:nth-child(2) {   
                   div:nth-of-type(1) {
                    display: flex;
                        position: relative;
                        img:nth-child(1) {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
            
                        img:nth-child(2) {
                            position: relative;
                        }
                    }
                    div:nth-child(3){
                        display: none;
                    }
                
            }
    }
}



.nav-pop-up {
    @include nav-menu-mobile();
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-section-text-cont {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 27.2rem;
    row-gap: 1.4rem;
    @extend %Poppins-font;
    
    h1 {
        font-size: 3.2rem;
        word-spacing: -0.7rem;
        font-weight: 400;
        color: #183B56;
    }
    p {
        font-size: 16px;
        
    }

    div {
        display: flex;
        column-gap: 0.8rem;
        button:nth-child(1) {
            @include important-button-template();
        }
        
      
        button:nth-child(2) {
            font-size: 1.4rem;
            background-color: transparent;
            border: none;
            width: 14.2rem;
            display: flex;
            column-gap: 0.5rem;
            align-items: center;
            @extend %Poppins-font;
            color: black;
            font-weight: 500;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                padding: 1rem 1rem 1rem 1.3rem;
                border-radius: 50%;
                img {
                    height: 1.7rem;
                    align-self: center;
                }
            }

        }

    }
}


.hero-section-full {
    padding-top: 4.4rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    
    .hero-card-column {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 0.516rem;
        position: absolute;
        left: -17%;
        z-index: 2;
        max-width: 6.1rem;
        
        
        article:nth-child(1) {
            @include hero-article();
            grid-column: 1;
            grid-row: 1;
            
            button {
                height: 1.297rem;
                width: 1.2992rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: none;
                @extend %button-color-pallete
            }

        }

        article:nth-child(2) {
            @include hero-article();
            grid-column: 1;
            grid-row: 2;
            
            @include hero-article-photo-container();
          

            
            
        }

        article:nth-child(3) {
            @include hero-article();
            grid-column: 1;
            grid-row: 3;
            @include hero-article-photo-container();
        }
        
    }
}

.hero-section-picture-section {
    padding-top: 4.4rem;
    overflow: hidden;     
    
    .hero-pic-container {
        background-color: #E8DB84;
        height: 17.5rem;
        width: 21.7566rem;
        border-radius: 0.86rem;
        position: relative;
        
        
        

            img {
                height: 220px;
                position: absolute;
                bottom: 0;
                left: -30%;
                
                
            }
        
        
    }

}



// Nutsa 
.costumer-reviews {
    text-align: center;
    padding: 4rem 1rem;
    
    h2 {
        color: #183B56;
        font-size: 2.8rem;
        font-weight: 400;
        letter-spacing: 0.02rem;
        margin-bottom: 1rem;
        font-family: "Poppins", sans-serif;
    }

    .reviews-subtitle {
        color: #5A7184;
        font-family: "Poppins", sans-serif;
        margin: 0 auto 40px;
        font-weight: 400;
        font-size: 1.6rem;
        max-width: 27.2rem;
        line-height: 2.8rem;
    }

    .review-cards {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        

        .review-card {
            background: white;
            padding: 3rem;
            border-radius: 1rem;
            box-shadow: 0.131rem 0.262rem 1.834rem 0rem #00000014;
            text-align: left;
            width: 100%;          
            max-width: 32rem;      
            box-sizing: border-box;
            

            .card-header {
                display: flex;
                align-items: center;
                gap: 1.572rem;
                margin-bottom: 15px;
            }

            img {
                margin-left: 4.5rem;
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                object-fit: cover;
            }

            h4 {
                font-weight: bold;
                font-size: 1.1rem;
                margin: 0;
                font-family: "Poppins", sans-serif;
                color: #12141D;
                line-height: 1.703rem;
                
            }

            span {
                font-size: 0.917rem;
                color: #12141D;
                font-weight: 400;
                line-height: 1.572rem;
            }

            p {
                font-weight: 400;
                color: #12141D;
                line-height: 2rem;
                font-family: "Poppins", sans-serif;
                font-size: 1.2rem;
                margin: 0;
                text-align: center;
    
            }
        }
    }

    .reviews-seemore {
        margin-top: 30px;
        
        button {
            background: #052A44;
            color: white;
            padding: 0.8rem 1.2rem;
            font-size: 1.4rem;
            border: none;
            border-radius: 0.8rem;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .review-controls {
        display: none; 
    }
}

.lets-work-together {
    padding: 2rem 1rem;

    .work-container {
        background-color: #E8DB84; 
        border-radius: 1rem;
        padding: 2.4rem 1.3rem;
        text-align: center;
        width:100%;
        max-width:32rem;
        margin:0 auto;
        box-sizing: border-box;
    }

    .work-header {
        margin-bottom: 2rem;

        h2 {
            color: #000000;
            font-size: 2.8rem;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            line-height: 4rem;
            letter-spacing: 0.02rem;
            margin-bottom: 1.5rem;
            text-align: center;
        }

        p {
            color: #000000;
            font-size: 1.6rem;
            font-family: "Poppins", sans-serif;
            line-height: 2.8rem;
            margin: 0;
        }
    }

    .work-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input, textarea {
            width: 100%;
            padding: 1.2rem;
            border: none;
            font-family: "Poppins", sans-serif;
            border-radius: 0.8rem;
            font-size: 1.6rem;
            background-color: white;
            color: #1E1E1E;
            box-sizing: border-box;
            padding: 2rem 2.4rem;
            &::placeholder {
                color: #12141D;
                font-weight: 400;
            }
        }

        textarea {
            resize: none;
        }
    

        .form-action {
            margin-top: 1rem;

            button {
                background-color: #052A44; 
                color: white;
                padding: 1.5rem 4.3rem;
                font-family: "Poppins", sans-serif;
                max-width: 20rem;
                border: none;
                border-radius: 0.6rem;
                font-size: 1.6rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}


footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 2.4rem 2.4rem;

  .footer-header {
    margin-bottom: 40px;
    gap:0.8rem;
    
    h4 {
      color: #052A44;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    
    p {
      margin: 5px 0;
      color: #071210;
      line-height: 3.6rem;
      font-size: 1.6rem;
    }
  }

  .footer-logos {
    margin-bottom: 40px;
    gap:0.9rem;

    p {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }

    .social-wrapper {
      display: flex;
      justify-content: center;
      gap: 2rem;
      
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 3.3rem;
        height: 3.3rem;
        color: #071210;
        border: 1px solid #000;
        border-radius: 50%;
        
        color: #000;
        text-decoration: none;
        font-size: 18px;
        transition: transform 0.2s ease;
        

        &:hover {
          background-color: #000;
          color: #fff;
          transform: scale(1.1);
        }
      }
    }
  }

  .footer-last {
    p {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
    }

    .email-text {
      color: #000;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 400;
      

      &:hover {
        text-decoration: underline;
      }
    }
  }
}




